<!DOCTYPE html>
<html lang="en">

  <head>
    <title>In Memory Blockchain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href="/static/custom.css">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>In Memory Blockchain</h1>
          <h4>Live version will reset blockahin every 4 mins</h4>
        <div>
      </div>
      <div class="row">
        <div class="col-2 col-md-12">
          <form action="{{url_for("addTX")}}" method="POST">
            <div class="form-group">
              <label for="from_addr">From address</label>
              <input type="text" class="form-control" id="from_addr" name="from_addr" required>
            </div>
            <div class="form-group">
              <label for="to_addr">To address</label>
              <input type="text" class="form-control" id="to_addr" name="to_addr" required>
            </div>
            <div class="form-group">
              <label for="value">Value</label>
              <input type="number" class="form-control" id="value" name="value" required>
            </div>
            <button type="submit" class="btn btn-primary">Add TX</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="row row-horizon">
        {% for block in blockchain %}
        <div class="col-4 col-md-12 inlinecol">
          <div class="card">
            <div class="card-header">
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">Height : {{ block.BlockHeight }}</li>
                <li class="list-group-item list-group-item-action">Prev Hash : {{ block.PrevHash }}</li>
                <li class="list-group-item list-group-item-action">MerkleRoot Hash : {{ block.RootHash }}</li>
                <li class="list-group-item list-group-item-action">Block Hash : {{ block.BlockHash }}</li>
              </ul>
              <a class="btn btn-primary" data-toggle="collapse" href="#txArray{{ block.BlockHeight }}" role="button">Show TXs (Total:{{ block.TXs|length }})</a>
            </div>
            <div class="collapse" id="txArray{{ block.BlockHeight }}">
              <div class="card-body">
                <ul class="list-group">
                  {% for tx in block.TXs %}
                  <li class="list-group-item list-group-item-action">
                      <p>Hash : {{ tx.Hash }}</p>
                      <p>From : {{ tx.From }}</p>
                      <p>To : {{ tx.To }}</p>
                      <p>Value : {{ tx.Value }}</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
